.wrapper
    .banner
        .banner__logo
            img(src="./img/logo.png" alt="favbet")
        .banner__text
            .banner__text-item VRTI KOLO
            .banner__text-item OSVAJAJ BONUSE
        .banner__pers
            img(src="./img/pers.png" alt="favbet")